# Lists and Tuples

In [1]:
N=(1, 2, (4, 5), [6, 7])

In [3]:
N[2]

(4, 5)

In [4]:
N[3][1]

7

% lists are mutable but tuples are immutable

In [8]:
L = [1]

In [9]:
L.append([2, 3])
L

[1, [2, 3]]

In [11]:
L.extend([2, 3])
L

[1, [2, 3], 2, 3]

In [16]:
"A, B, C, D".split(",")

['A', ' B', ' C', ' D']

In [18]:
M=L

In [19]:
M.append([2])
L

[1, [2, 3], 2, 3, [2]]

In [20]:
del(M[1])
L

[1, 2, 3, [2]]

In [23]:
N=L[:]
#new copy

In [24]:
len((2, 3, 4))

3

# Dictionaries

In [25]:
D = {"thriller": 1982, "back in black": 1980}
D.keys()

dict_keys(['thriller', 'back in black'])

In [26]:
D.values()

dict_values([1982, 1980])

In [28]:
F=D.values()
F[0]

TypeError: 'dict_values' object is not subscriptable

# Sets

In [29]:
S = {1, 2, 3, 4, 1, 3, 2}
S

{1, 2, 3, 4}

In [37]:
L =L[0:3]
L

[1, 2, 3]

In [38]:
S1 = set(L)
S1

{1, 2, 3}

In [41]:
S1.add('gaf')
S1

{1, 2, 3, 'gaf'}

In [42]:
S1.remove('gaf')
S1

{1, 2, 3}

In [44]:
1 in S1, 0 in S1

(True, False)

In [45]:
S1

{1, 2, 3}

In [49]:
S2 ={2, 3, 5}

In [50]:
S1 & S2 #intersection

{2, 3}

In [52]:
S1.union(S2), S2.union(S1)
S1, S2

({1, 2, 3}, {2, 3, 5})